/* Login/Register */

section.register,
section.login {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0 0 0;
  text-align: center;
}

form {
  width: 100%;
}


input {
  width: 90%;
  padding: 15px 5%;
  margin: 20px 0 0 0;
  font-size: 16px;

  &.btn {
    width: 100%;
    margin: 20px 0 0 0;
    font-size: 16px;
    border: none;
    background: #333333;
    color: #FFFFFF;
    cursor: pointer;
    transition: opacity ease-in-out 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }
}
