/* Structure */

html,
body {
  font-family: OpenSansRegular, sans-serif;
  background: #FFF;
  color: #333;
  font-size: 16;
  height: 100%;
}

/* Views */

h1 {
}

h2 {
}

h3 {
}

/* Home (Map) */

section.nav {
  width: 100%;
  height: 50px;
  position: fixed;
}

section.top {
  background: red;
  top: 0;
}

section.bottom {
  bottom: 0;
}


/* Subnav (Bottom) */
div.bottomBtn {
  height: 100%;
  float: left;
  background: blue;
  width: 30%;

  &.questmaster {
    width: 40%;
    background: white;
    position: relative;
      img {
        width: 100%;
        position: absolute;
        bottom: 0;
      }
  }
}

span.socialbtn {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

/* Screen overs */

section.socialScreenUp {
  position: fixed;
  top: 100%;
  height: 100%;
  width: 100%;
  background: yellow;
  z-index: 99;
}

section.slideDown {
  bottom: 100%;
}

.map1 {
  width: 4000px;
  height: 4000px;
  background: teal;
}
