section.map{
  //width: 1000px;
  //height: 1000px;
  z-index: 0;
  padding: 50px 0;

  div.part{
    width: 100px;
    height: 100px;
    background-color: mediumpurple;
    float: left;
    position: relative;

    div.locked{
      width: 98px;
      height: 98px;
      background-color: #5CFD98;
      border: 1px solid #fff;
      float: left;
      content: '';
      position: absolute;
      z-index: 2;
    }

    div.background{
      width: 98px;
      height: 98px;
      background-color: blueviolet;
      border: 1px solid #fff;
      float: left;
      content: '';
      position: absolute;
      z-index: 1;
    }
  }
}

.huis{
  height: 98px;
  width: 98px;
}