.popup{
  height: auto;
  max-height: 90%; //fallback
  max-height: calc(100% - 30px);
  width: auto;
  max-width: 90%; //fallback
  max-width: calc(100% - 30px);
  background-color: white;
  top: 50%;
  left: 15px;
  right: 15px;
  transform: translate(0, -50%);
  border-radius: 5px;
  overflow-x: scroll;
  position: relative;
  text-align: center;

    h1{
      color: #575757;
      font-size: 30px;
      text-align: center;
      font-weight: 600;
      text-transform: none;
      position: relative;
      margin: 25px 0;
      padding: 0;
      line-height: 40px;
      display: block;
    }

    h2{
      text-align: center;
    }

    #countdown{
      background-color: #7ecff4;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50px;
      display: block;
      margin: 20px auto;
      color: #ffffff;
    }
  }

  .item{
    width: 100%;
    height: 100px;
    margin-top: 15px;

    img{
      width: 100px;
      height: 100px;
      float: left;
      margin-left: 15px;
    }

    h2{
      float: left;
      line-height: 100px;
      margin-left: 15px;
    }
  }
