// ============== Variables =================
$text-color: #000000;//zwart
$color-black: #000000;//zwart
$color-white: #ffffff; //wit
$color-1: #000;
$color-2: #000;
$color-3: #000;

$normal-font-weight: 300;
$font-family: 'Roboto', Helvetica, sans-serif;

$primary-margin: 5%;
$secondary-margin: 10%;

// ============== Mixins =================















