// ============== Variables =================
$color-1: #e10018; //rood
$color-2: #fff; //wit
$color-3: #000; // zwart 
$color-4: #cccccc; //grijs
$color-5: #26a149; //groen
$text-color: #000;

$normal-font-weight: 300;
$font-family: 'Roboto', Helvetica, sans-serif;

$primary-margin: 5%;
$secondary-margin: 10%;

// ============== Mixins =================















