// ============== Variables =================
$text-color: #000000;//zwart
$color-black: #000000;//zwart
$color-white: #ffffff; //wit
$color-1: #8bab4b; //groen
$color-2: #9dc9d0; //blauw
$color-3: #f8605f; //rood
$color-4: #4f4846; //zwart
$color-5: #eeeeee; //wit

$normal-font-weight: 300;
$font-family: 'Roboto', Helvetica, sans-serif;
$primary-margin: 5%;
$secondary-margin: 10%;

// ============== Mixins =================















